// Color palette
$color-bright-red: #ab0012;
$color-bright-red-2: #ac000b;
$color-off-yellow: #fefde6;
$color-celery: #abc44c;
$color-white: #ffffff;
$color-concrete: #f3f3f3;
$color-blanze-orange: #ff6508;
$color-mercury: #e5e5e5;
$color-olive-drab: #48912a;
$color-mustart: #ffd55a;

$color-primary: $color-bright-red;
$menu-item-hover: $color-off-yellow;
